<h2>Gasherbrum2</h2>
<p>
  The time is now: <%= Time.now %>
</p>
<p>
  <a href="<%= notifications_path %>"> Notifications </a>
</p>
<p>
  <a href="<%= forecasts_path %>"> Forecasts </a>
</p>
<% if Rails.env.development? %>
<p>
  <a href="/rails/mailers"> Email previews </a>
</p>
<% end %>
